@using ProjetoBase.Models;
@model List<Aluno>
@{
    ViewBag.Title = "ListarAlunos";
}

<h2>ListarAlunos</h2>

<table>
    <tr>
        <th>Nome</th>
        <th>Idade</th>
    </tr>

    @foreach (var aluno in Model)
    {
        <tr>
            <td>@aluno.Nome</td>
            <td>@aluno.Idade</td>
        </tr>
    };
</table>


