
@{
    ViewBag.Title = "RelacaoAlunosAjax";
}

<h2>RelacaoAlunosAjax</h2>

@Ajax.ActionLink("Listar Alunos Ajax", "ListarAlunosAjax",  new AjaxOptions() {
    InsertionMode = InsertionMode.Replace,
    UpdateTargetId = "divAjax",
    HttpMethod = "GET",
    LoadingElementId ="progress"
})

<div id="progress">
    <img src="~/Content/img/ajax-loader.gif" />
</div>
<div id="divAjax"></div>
