
@{
    ViewBag.Title = "RetornarDados";
}

<h2>RetornarDados</h2>

<h1>Curso em andamento: @(ViewData["nomeCurso"].ToString())</h1> 
<h1>Curso em andamento: @(TempData["nomeCurso"].ToString())</h1> 
<h1>Curso em andamento: @(ViewBag.nomeCurso)</h1> 